.cursor {
    cursor: pointer;
}

.nav-vocabulary .disabled {
    opacity: 0.6;
}
.page-link{
    display: initial;
}
.nav-vocabulary .disabled a {
    cursor: not-allowed;
}
/*edit css cau hoi*/
.form-check-label p {
    margin: 0px;
}
.lesson-detail video{
    width: 100%;
    height: auto;
    margin: 10px 0px;
}
.content-otta{
    padding-bottom: 15px;
}
.btn-radio-listen-practice {
    display: none;
}
.ui-draggable-dragging{
    z-index: 99999;
}