@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Oswald:400,600,700&subset=vietnamese');

h1, h2, h3{
	font-family: 'Oswald', sans-serif;
}
h4, h5, h6, p, a, span{
	font-family: 'Open Sans', sans-serif;
}
p.content{
	font-family: 'Noto Serif', serif;
}
a:hover{
	color: #298fce;
}
li.active>.nav-link, a.active{
	color: #298fce;
}
.dropdown-menu{
	border-radius: 0;
}
.bg-gray{
	background: #eaeff3;
}
.bg-gray .card{
	background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
	font-weight: 600;
	color: #4c4c4c;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color: #298fce;
}
.navbar{
	padding: .0rem 1rem;
	background-image: -o-linear-gradient(-90deg, #298fce 25%, #eaeff3 0%);
    background-image: -moz-linear-gradient(-90deg, #298fce 25%, #eaeff3 0%);
    background-image: -webkit-linear-gradient(-90deg, #298fce 25%, #eaeff3 0%);
    background-image: -ms-linear-gradient(-90deg, #298fce 25%, #eaeff3 0%);
    background: linear-gradient(-90deg, #298fce 25%, #eaeff3 0%);
}
.navbar .nav-link{
	text-transform: uppercase;
	font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
	color: #298fce;
}
.nav-user{
	background: #298fce;
	padding: .2rem 0;
}
.nav-user .nav-item .nav-link{
	color: #fff;
}
.icon-blue{
	color: #298fce;
}
.nav-user .dropdown-toggle-split{
	background: transparent;
	color: #fff;
}
.top-index{
	background-image: linear-gradient(120deg, #51a3ba 0%, #e0e9c0 100%);
}
.slide-otta{
	background: url('../img/bg-slide.png') bottom center no-repeat;
	background-size: cover;
}
#index-slide.owl-carousel .owl-item img{
	max-width: 86%;
	display: inline-block;
}
.box-rounded{
	background: #fff;
	border-radius: 30px 30px 0px 0px;
}
.text-XL{
	font-size: 3rem;
}
.ct-ld .card img{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.ct-ld .card:hover img{
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
}
.ct-ld .card-title a{
	color: #4c4c4c;
	font-weight: 600;
}
.ct-ld .card:hover .card-title a{
	color: #298fce;
}
.line-v1{
	width: 100px;
	height: 1px;
	background: #ebebeb;
}
.box-ykcg{
	background: url('../img/bg-ykcg.jpg') no-repeat fixed;
	background-size: cover;
	padding-bottom: 70px;
}
.tt-style-v1{
	color: #fff;
	border-left: 6px solid #c7245c;
	padding-left: 15px;
}
.ct-ykcg .card{
	background: transparent;
	border: 1px dashed rgba(255, 255, 255, 0.35);
}
.ct-ykcg .card-title, .ct-ykcg h5, .ct-ykcg .card-text{
	color: #fff;
}
.ct-ykcg h5{
	font-weight: 600;
}
.ct-ykcg .card-text{
	border: 1px dashed rgba(255, 255, 255, 0.35);
}
.ct-ykcg .card-text span{
	max-height: 210px;
	overflow: hidden;
}
.ct-ykcg .card-text > i{
	top: -16px;
	left: 40px;
	font-size: 28px;
	z-index: 1000;
}
.about-expert{
	bottom: 2.25rem;
	left: 1.25rem;
	padding: 1.25rem;
	background: rgba(255, 255, 255, 0.8);
	width: calc(100% - 2.5rem);
	color: #3b3b3b;
}
.name-expert{
	font-size: 1.25rem;
}
.text-red{
	color: #ca225a;
}
.text-blue{
	color: #298fce;
}
#expert-slide.owl-theme .owl-dots, #expert-slide.owl-theme .owl-nav{
	text-align: left;
	display: inline-block;
	position: absolute;
	bottom: 0px;
}
#yktv-slide.owl-theme .owl-dots .owl-dot span{
	background: #868686;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
	border: 1px solid rgba(255, 255, 255, 0.35);
	border-radius: 0;
	width: 34px;
	height: 34px;
	display: inline-block;
	color: rgba(255, 255, 255, 0.35);
}
.owl-theme .owl-nav button.owl-prev{
	margin-left: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background: #ca225a;
}
#yktv-slide.owl-theme .owl-dots .owl-dot.active span, #yktv-slide.owl-theme .owl-dots .owl-dot:hover span{
	background: #298fce;
}

.featured-post{
	background: #f1f1f1;
	height: 560px;
}
.ct-featured-post{
	background: url('../img/bg-featured-post.jpg') no-repeat;
	background-size: cover;
	padding: 60px 15px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    z-index: 100;
    top: -60px;
}
#featured-post-slide{
	padding: 0px 30px;
}
.card-text-otta{
	height: 66px;
	overflow: hidden;
	font-size: .9rem;
}
.card-title > a{
	color: #4b4b4b;
	font-size: 1.1rem;
	font-weight: 600;
}
.card-body{
	padding: .5rem 1.25rem;
}
.tt-index-white h2{
	color: #fff;
}
.tt-index-white .blockquote-footer{
	color: rgba(255, 255, 255, 0.5);
}

.icon-post{
	width: 40px;
	height: 40px;
	background: #298fce;
	color: #fff;
	bottom: 0;
	left: 0;
	padding: 8px 14px;
	font-size: 16px;
}
.icon-video{
	background: #c7245c;
}
.blockquote-footer::before{
	padding-right: 10px;
}
.blockquote-footer::after{
	content: "\2014 \00A0";
	padding-left: 10px;
}
.lt-thpt{
	padding: 110px 0px 30px;
}
.img-ads{
	max-width: 100%;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.img-ads:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 100;
}
.lt-thpt .image-box{
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.lt-thpt .image-box:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 100;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
}
.box-yktv{
	background: url('../img/bg-yk-thanhvien.jpg') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.text-yktv{
	padding-top: 20px;
    background: no-repeat 0px 2px;
    background-size: 70px;
    font-size: 15px;
}
#yktv-slide .item{
	padding: 15px;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
#yktv-slide .item:hover{
	background: rgba(255, 255, 255, 0.5);
	z-index: 100;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
}
.list-dkkh li{
	padding: 5px 0px;
	font-size: 1.2rem;
	border-top: 1px solid rgba(0,0,0,.125);
}
.btn-blue{
	background: #298fce;
	color: #fff;
}
.btn-blue:hover{
	background: #ca225a;
}
.btn-outline-blue{
	background: #fff;
	border: 1px solid #298fce;
	color: #298fce;
}
.btn-outline-blue:hover{
	background: #298fce;
	color: #fff;
}
.btn-red{
	background: #ca225a;
	color: #fff;
}
.btn-red:hover{
	background: #298fce;
}
#dkkh-slide .card:hover{
	border-color: #298fce;
}
#dkkh-slide .card-header:first-child{
	border-radius: 0;
}
#dkkh-slide .card:hover .card-header{
	background: #298fce;
	color: #fff;
}
.top-hv-index{
	background: url('../img/bg-top-hv.jpg') no-repeat;
	background-size: cover;
}
.tt-index-v2{
	border-left: 5px solid #298fce;
	padding-left: 20px;
	color: #fff;
}
.ct-top-hv-index .image-box{
	border: 4px solid #3e3c33;
}
.ct-top-hv-index .image-box:hover{
	border: 4px solid #298fce;
}
.dkkh-footer{
	/* background-image: linear-gradient(110deg, #2af598 0%, #009efd 100%); */
	background-image: linear-gradient(10deg, #4481eb 0%, #04befe 100%);
}
.dkkh-footer p{
	color: #fff;
	font-size: 1.3rem;
}
.btn-dk-footer{
	color: #298fce;
}
.breadcrumb-otta{
	border-radius: 1.2rem 1.2rem 0 0
}
.breadcrumb-otta .breadcrumb-item > a{
	color: #298fce;
}
.content-otta{
	background: #fff;
	min-height: 60vh;
}
.bg-content{
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.bg-contact{
	background: url('../img/bg-contact.jpg') no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	min-height: 100vh;
}
.img-hover{
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	transition-duration: .3s;
}
.img-hover:hover{
	border: 1.2rem solid #c7235b;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.60);
    z-index: 100;
}
.category .card:hover .card-title > a{
	color: #298fce;
}
.border-md-0{
	border-top: 0;
}
.form-dashed{
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
	background: transparent;
}
.nav-vocabulary li{
	margin-right: .2rem;
	margin-bottom: .5rem;
}
.nav-vocabulary li a{
	font-size: .8rem;
	border: 1px solid rgba(0,0,0,.125)
}
.nav-cate{
	background: #bc2356;
	border-top: 3px solid #ffcf64;
}
.nav-cate .nav-item .nav-link{
	color: rgba(255, 255, 255, .8);
}
.nav-cate .nav-item .nav-link:hover{
	color: rgba(255, 255, 255, 1);
}
.nav-cate .nav-item .nav-link.active{
	color: #bc2356;
	background: #ffcf64;
	font-weight: 600;
}
.page-item.active .page-link{
	background-color: #298fce;
	border-color: #298fce;
}
.page-link{
	color: #298fce;
}
.nav-level{
	background: #a3d0da;
}
.nav-level .active:before{
	content: "";
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid white;
	position: absolute;
	bottom: 0;
	left: calc(50% - 15px);
}
.img-level{
	max-width: 6rem;
}
.text-form-control{
	padding: .375rem .75rem;
}
.pagination-rounded .page-link {
	border-radius: 50% !important;
	margin: 0 5px;
	text-align: center;
	padding: .4rem .75rem;
}
/* -------------Footer-------------- */
.footer{
	background-image: -o-linear-gradient(-90deg, #2a2b2c 65%, #202122 0%);
    background-image: -moz-linear-gradient(-90deg, #2a2b2c 65%, #202122 0%);
    background-image: -webkit-linear-gradient(-90deg, #2a2b2c 65%, #202122 0%);
    background-image: -ms-linear-gradient(-90deg, #2a2b2c 65%, #202122 0%);
    background: linear-gradient(-90deg, #2a2b2c 65%, #202122 0%);
}
.left-footer{
	background: #202122;
}
.ct-footer p{
	color: #b9b9b9;
}
.nav-footer{
	border-right: 4px solid #298fce;
}
.ct-footer .nav-link{
	color: #b9b9b9;
}
.ct-footer .nav-link:hover{
	color: #fff;
}
.nav-footer .nav-link{
	text-transform: uppercase;
	font-size: 14px;
}
.logo-footer{
	max-width: 100%;
}

/* Nav icon right */
.nav-icon-right{
	height: 100vh;
	z-index: 1000;
	right: 0;
	top: 0;
}
.nav-icon-right .nav-link{
	width: 45px;
	height: 45px;
	padding: 10px 14px;
	background: #298fce;
	color: #fff;
}
.tooltip .tooltip-inner{
	border-radius: 0;
}
.nav-icon-right .nav-item:nth-child(1) .nav-link{
	background: #ca225a;
}
.nav-icon-right .nav-item:nth-child(2) .nav-link{
	background: #d6b229;
}
.nav-icon-right .nav-item:nth-child(3) .nav-link{
	background: #226cca;
}
.nav-icon-right .nav-item:nth-child(4) .nav-link{
	background: #29d697;
}
.nav-icon-right .nav-item:nth-child(5) .nav-link{
	background: #78a227;
}
.nav-icon-right .nav-item:nth-child(6) .nav-link{
	background: #4893e2;
}
.nav-icon-right .nav-item:nth-child(7) .nav-link{
	background: #7c69dc;
}
.nav-icon-right .nav-item:nth-child(8) .nav-link{
	background: #29abd4;
}
.nav-icon-right .nav-item:nth-child(9) .nav-link{
	background: #227ab1;
}
.nav-icon-right .nav-item:nth-child(10) .nav-link{
	background: #7e84d8;
}
.input-search{
	width: calc(100% - 42px) !important;
	border-color: #298fce;
	color: #298fce;
}
.form-control:focus{
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	color: #298fce;
}
/* ------toTop----- */
a.to-top{
	width: 45px;
	height: 45px;
	padding: 11px 17px;
	background: #298fce;
	color: #fff !important;
	bottom: calc(50vh + 225px) !important;
	z-index: 1001;
}


/* --------------------Ratio------------------- */
.image-box {
	position: relative;
	overflow: hidden;
}
.image-box::before {
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
.image-box .img-post {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-size: cover;
	background-position: center;
}
.image-box.ratio-1-1::before {
	padding-top: 100%;
}
.image-box.ratio-2-1::before {
	padding-top: 50%;
}
.image-box.ratio-1-2::before {
	padding-top: 200%;
}
.image-box.ratio-4-3::before {
	padding-top: 75%;
}
.image-box.ratio-5-3::before {
	padding-top: 60%;
}
.image-box.ratio-16-9::before {
	padding-top: 56.25%;
}
/* ----------------------Close ratio----------------------- */
#subscribeModal .modal-content{
	overflow:hidden;
}

#subscribeModal .form-control {
    height: 56px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
	padding-left:30px;
}
#subscribeModal .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	padding-right:20px;
	background:#007b5e;
	border-color:#007b5e;
}
#subscribeModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007b5e;
    outline: 0;
    box-shadow: none;
}
#subscribeModal .top-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -94px;
    margin-right: 190px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .bottom-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(112deg);
    margin-top: -110px;
    margin-right: -215px;
    margin-left: 300px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .modal-lg .top-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -106px;
    margin-right: 457px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#subscribeModal .modal-lg .bottom-strip {
    height: 155px;
    background: #007b5e;
    transform: rotate(135deg);
    margin-top: -115px;
    margin-right: -339px;
    margin-left: 421px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
/* ---------------------------------------------------------------- */
.table-custom-v1.table td{
	padding: 0;
}
/* ---------------------------------------------------------------- */
.alert-minimalist {
	background-color: rgb(241, 242, 240);
	border-color: rgba(149, 149, 149, 0.3);
	border-radius: 3px;
	color: rgb(149, 149, 149);
	padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
	height: 50px;
	margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
	color: rgb(51, 51, 51);
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
	font-size: 80%;
	color: #333;
}
.dropdown-menu.dropdown-menu-Tb{
	left: -300px;
	width: 360px;
	max-height: 60vh;
	overflow-y: auto;
}
.nav-user-mb .dropdown-menu.dropdown-menu-Tb{
	left: -54vw;
	width: 92vw;
	max-height: 80vh;
	overflow-y: auto;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
    cursor: pointer;
    outline: none;
}