.navbar {
    background-image: linear-gradient(100deg, #b1305a 0%, #3568b4 100%);
    border-bottom: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link{
	color: rgba(255, 255, 255, .6);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.nav-user{
	background: transparent;
}
.nav-user .nav-item .nav-link{
	color: #fff;
	padding: .5rem 0;
}
.logo{
	width: 150px;
}
#index-slide.owl-carousel .owl-item img{
	max-width: 50%;
}
.tt-index h2{
	font-size: 1.3rem;
}
.ct-ld .card-title a{
	font-size: .9rem;
}
.card-title > a{
	font-size: .9rem;
}
.card-text-otta{
	display: none;
}
.featured-post {
    height: 440px;
}
.dkkh-footer p{
	font-size: .9rem;
}
.nav-footer .nav-link{
	font-size: 10px;
	padding: .3rem;
}
.border-md-0{
	border-top: 1px solid rgba(0,0,0,.125) !important;
}
a.to-top{
	bottom: calc(50vh + 45px) !important;
}