.navbar {
    background-image: linear-gradient(100deg, #b1305a 0%, #3568b4 100%);
    border-bottom: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link{
	color: rgba(255, 255, 255, .6);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.nav-user{
	background: transparent;
}
.nav-user .nav-item .nav-link{
	color: #fff;
	padding: .5rem 0;
}
.logo{
	width: 96px;
}
.slide-otta{
	margin-bottom: 50px;
}
#index-slide.owl-carousel .owl-item img{
	max-width: 77%;
}
.tt-index h2 {
    font-size: 1.4rem;
}
.ct-ld .card >a{
	text-align: center;
}
.ct-ld .card img{
	max-width: 50%;
}
.ct-ld .card-body{
	padding: 1rem 0 0 0;
}
.ct-ld .card-title a{
	font-size: .7rem;
}
#featured-post-slide{
	padding: 0;
}
.text-XL {
    font-size: 2rem;
}
.tt-index footer{
	font-size: 12px;
}
.ct-ld .card{
	margin-bottom: 0px !important;
}
.tt-style-v1{
	font-size: 1.2rem;
}
.ct-ykcg h5 {
    font-size: 1rem;
}
.ct-ykcg .card-text span {
    font-size: 0.8rem;
}
.ct-ykcg-left{
	padding-right: 0;
}
.lt-thpt {
    padding: 110px 15px 0px;
}
.qc-index{
	padding-right: 15px;
	padding-left: 15px;
}
.ct-yktv .tt-index{
	padding-bottom: 0 !important;
}
.ct-yktv .media{
	margin-bottom: 0 !important;
}
#dkkh-slide{
	padding: 0 15px;
}
.ct-top-hv-index .image-box{
	width: 20% !important;
}
.dkkh-footer p{
	text-align: center !important;
}
.dkkh-footer p .btn{
	margin-top: 10px;
}
.footer{
	padding: 0 15px;
}
.left-footer p{
	font-size: 12px;
}
p.copyright{
	font-size: 12px;
}
.nav-icon-right{
	height: calc(100vh - 40px);
	top: 40px;
}
.nav-icon-right .nav-link {
    width: 36px;
    height: 36px;
    padding: 5px 10px;
}
a.to-top {
	width: 36px;
    height: 36px;
    padding: 6px 12px;
    bottom: calc(50vh + 16px) !important;
}
.btn-dk-footer{
	width: 100%;
	margin-left: 0 !important;
}
.featured-post{
	height: 320px;
}
.featured-post .card-header{
	padding: 0px 10px !important;
}
.featured-post .card-header small{
	font-size: 10px;
	color: #7d7d7d;
}
.featured-post .card-body{
	padding: 5px 10px !important;
}
.card-title > a{
	font-size: .7rem;
}
.icon-post {
    width: 26px;
    height: 26px;
    padding: 5px 9px;
    font-size: 11px;
}
.img-level{
	max-width: 4rem;
}