.navbar {
    background-image: linear-gradient(100deg, #b1305a 0%, #3568b4 100%);
    border-bottom: 0;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link{
	color: rgba(255, 255, 255, .6);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.nav-user{
	background: transparent;
	padding-left: 0;
}
.nav-user .nav-item .nav-link{
	color: #fff;
	padding: .5rem 0;
}
.logo{
	width: 100%;
}
header .media-body h5{
	font-size: 1.1rem;
}
#expert-slide.owl-theme .owl-dots, #expert-slide.owl-theme .owl-nav{
	position: inherit;
}
.featured-post {
    height: 550px;
}